<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">Copyright © SHARE GAMES</h3>
                <hr class="primary">
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="/terms">
                    <i class="fa fa-info-circle fa-3x wow bounceIn"></i>
                    <p>利用規約</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="/privacy_policy">
                    <i class="fa fa-lock fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>プライバシーポリシー</p>
                </a>
            </div>
        </div>
    </div>
</section>

