<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>遊んだゲームを記録して、新しいゲームに出会おう</h1>
            <hr>
            <p>ゲームメーターは遊んだゲームを記録したり、日本中のゲーマーと<br>コミュニケーションができるサービスです</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About</a>
        </div>
    </div>
</header>

