<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
          <% @youtubers.each do |youtuber| %>
            <div class="col-lg-4 col-sm-6">
                <a href=<%="youtubers/#{youtuber.id}"%> class="portfolio-box">
                    <%= image_tag(youtuber.thumbnail_url, class: "img-responsive", alt: "") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <%= youtuber.title %>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
          <% end %>
        </div>
    </div>
</section>

