<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary"></i>
                    <h3>ゲームを記録</h3>
                    <p class="text-muted">日々のゲーム生活を確認しよう！</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>ゲームの管理</h3>
                    <p class="text-muted">ゲームを4つの状態に分けて管理しよう！「遊びたいゲーム」、「積みゲー」、「遊んでいるゲーム」、「遊んだゲーム」を登録します</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>レビューを投稿</h3>
                    <p class="text-muted">さまざまなゲーマーのレビューを知ることで、新たな発見ができたり、ゲーム内容の理解の助けとなります</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>ゲーマーと交流</h3>
                    <p class="text-muted">好きなゲームごとに他のゲーマーとコメントでやりとりしよう！</p>
                </div>
            </div>
        </div>
    </div>
</section>

